@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Raleway:wght@500&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;

}

.pHeader {
    background: rgba(45, 105, 158, 0.24);
    height: 35px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 20px;

}

.pHeader p {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header {
    width: 80%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 201px;
    height: 36px;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: #337AB7;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

header button {
    width: 190px;
    height: 39px;
    color: #fff;
    font-family: League Spartan;
    font-size: 20px;
    background-color: #337AB7;
    border: transparent;
    border-radius: 5px;
}

hr {
    width: 100%;
    border: transparent;
    background: linear-gradient(90deg, #2D699E 1.32%, #4E81AD 25.99%, #759DBF 50.66%, #A4BED5 75.33%, #F8F8FF 100%);
    height: 10px;
}

main {
    margin-top: 2em;
}

section {
    margin-top: 2em;
}


.container_grid {
    width: 80%;
    margin: 0 auto;
}

.container_promo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.promo_slider{
    width: 65%;
}

.content_promo {
    width: 350px;
    height: 430px;
    background-color: #E4EBF2;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5em;
}

h2 {
    color: #337AB7;
    font-family: League Spartan;
    font-size: 25px;
    font-weight: bold;
}

.content_promo nav {
    display: flex;
    align-items: start;
    gap: 1.5em;
    margin-top: 3em;
    flex-direction: column;
}

.content_promo nav a {
    color: #337AB7;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

.container_news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: #337AB7;
    font-family: League Spartan;
    padding-top: 60px;
    padding-bottom: 20px;
}

.news_content {
    width: 100%;
    background: linear-gradient(96deg, rgba(51, 159, 183, 0.32) 1.66%, rgba(51, 159, 183, 0.00) 95.49%);
    padding: 5em 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    margin-top: 1em;
}

.news_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news_card_body {
    width: 258px;
    background: white;
    height: 173px;
    border-radius: 0 0 1em 1em;
    border-bottom: 3px solid #337AB7;
    border-left: 3px solid #337AB7;
    border-right: 3px solid #337AB7;
}

.news_card_body p {
    margin: 1em;
    color: #545353;
    font-family: League Spartan;
    font-size: 18px;
    font-weight: bold;
}

.container_contrate h2{
    color: #337AB7;
    font-family: League Spartan;
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 55px;
}

.constraste_content{
    display: flex;
    justify-content: space-between;
}

.constraste_content img{
    width: 40%;
}

.hr_footer{
    width: 100%;
    border: transparent;
    background: #337AB7;
    height: 5px;
}

footer{
    background: #CDD4D2;
    
}

.container_footer{
    display: flex;
    flex-direction: column;
}

.footer_description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_description span{
    color: #337AB7;
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer_imgs{
    width: 440px;

    display: flex;
    flex-direction: column;
}

.footer_nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer_nav h3{
    color: #337AB7;
    font-family: League Spartan;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer_nav li{
    color: #337AB7;
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 12px;
}

.footer_nav ul{
    list-style: none;
}